@implements IDisposable
@inject AuthSession Auth
@inject NavigationManager Nav

<div class="brand-block">
    <a class="brand-mark" href="/">M</a>
    <div>
        <div class="brand-name">Momentix</div>
        <div class="brand-subtitle">albums and capsules</div>
    </div>
</div>

<nav class="side-nav">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <span class="nav-icon">H</span>
        <span>Home</span>
    </NavLink>

    @if (Auth.IsLoggedIn)
    {
        <NavLink class="nav-link" href="albums">
            <span class="nav-icon">A</span>
            <span>Albums</span>
        </NavLink>
        <NavLink class="nav-link" href="capsules">
            <span class="nav-icon">T</span>
            <span>Time Capsules</span>
        </NavLink>
        <NavLink class="nav-link" href="friends">
            <span class="nav-icon">F</span>
            <span>Friends</span>
        </NavLink>
        <NavLink class="nav-link" href="challenges">
            <span class="nav-icon">C</span>
            <span>Challenges</span>
        </NavLink>
    }
    else
    {
        <NavLink class="nav-link" href="login">
            <span class="nav-icon">L</span>
            <span>Login</span>
        </NavLink>
        <NavLink class="nav-link" href="register">
            <span class="nav-icon">R</span>
            <span>Register</span>
        </NavLink>
    }
</nav>

@if (Auth.IsLoggedIn)
{
    <button class="secondary-button full-width" type="button" @onclick="Logout">Sign out</button>
}

@code {
    protected override void OnInitialized()
    {
        Auth.Changed += OnAuthChanged;
    }

    private void Logout()
    {
        Auth.SignOut();
        Nav.NavigateTo("/login");
    }

    private void OnAuthChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Auth.Changed -= OnAuthChanged;
    }
}
